dist/index.js
dist/src/server.js
dist/src/controllers/home.controller.js
dist/src/controllers/my.controller.js
dist/src/controllers/tutorial.controller.js
dist/src/routes/home.routes.js
dist/src/routes/index.js
dist/src/routes/my.routes.js
dist/src/routes/tutorial.routes.js
build/server.js
build/src/index.js
build/src/controllers/home.controller.js
build/src/controllers/my.controller.js
build/src/controllers/tutorial.controller.js
build/src/routes/home.routes.js
build/src/routes/index.js
build/src/routes/my.routes.js
build/src/routes/tutorial.routes.js
